Binaries
DerivedDataCache
Intermediate
Build
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Runner/StarterBundle
/Content/StarterContent
/Content/CelToonOutlinePP
/Content/TrailSystem
/Content/Runner/Art/Others
/Content/Runner/Art/Props
/Content/Runner/Art/Rocks
/Content/Runner/Art/SnowB
/Content/Runner/Art/Stone
/Content/Runner/Art/Trees
/Content/Runner/Audio
/Content/Runner/Characters/BaseCharacter/TestCharacterFemale
/Content/Runner/Characters/BaseCharacter/TestCharacterMale
/Content/Runner/Characters/BaseCharacter/Animation/AdditionalAnimations
/Content/Runner/Characters/BaseCharacter/MaleCharacter
/Content/Runner/FX